{% extends "dashboard.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}
<div id="content">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Looking at {{stock.longName}} ({{stock.symbol}})</h3>
                <h5>City: {{stock.city}}, {{stock.state}} Phone: {{stock.phone}} Website: <a
                        href="{{stock.website}}">{{stock.website}}</a></h5>
                <p>{{stock.longBusinessSummary}}</p>
                <ul class="list-group">
                    <li class="list-item">Market Price: {{stock.regularMarketPrice}}</li>
                    <li class="list-item">Bid/Ask: {{stock.bid}}/{{stock.ask}}</li>
                    <li class="list-item">Volume: {{stock.regularMarketVolume}}</li>
                    <li class="list-item">Day High/Low: {{stock.dayHigh}}/{{stock.dayLow}}</li>
                    <li class="list-item">52-week High/Low: {{stock.fiftyTwoWeekHigh}}/{{stock.fiftyTwoWeekLow}}</li>
                    <li class="list-item">Market Cap: {{stock.marketCap}}</li>
                </ul>
            </div>
            <div class="card-body">
                <form method="post" action="/buystock">
                    {% csrf_token %}
                    <input type="hidden" name="stock" value="{{stock.symbol}}">
                    <input type="hidden" name="bought_at" value="{{stock.ask}}">
                    <label for="num_shares">How many shares?:</label>
                    <input type="number" name="num_shares" id="num_shares">
                    <button class="btn btn-outline-primary" type="submit">Buy Stock</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}