{% extends "dashboard.html" %}

{% block content %}
<div class="row">
    <!-- This is the blue portion of the wireframe  -->
    <div class="col-6">
        <h3>Balance: {{logged_user.balance}}</h3>
        <form method="POST" action="/addmoney/{{logged_user.id}}" id="addMoneyForum">
            {% csrf_token %}
            <!-- <input type="hidden" value="user_id"> -->
            <input class="form-control" type="text" name="amount" id="amount" placeholder="Enter Amount">
            <button class="btn btn-outline-primary mt-3" type="submit" form="addMoneyForum">Add Money</button>
        </form>
    </div>
    <div class="col-6">
        <h3>Search For a Stock!</h3>
        <form method="post" action="/search">
            {% csrf_token %}
            <input class="form-control" type="text" name="search" id="search">
            <button class="btn btn-outline-primary mt-3" type="submit">Search</button>
        </form>
    </div>
</div>
<div>
    <!-- This is for the green portion of the wireframe -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Buy Price</th>
                <th>Shares Owned</th>
                <th>Market Price</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>% P/L</th>
                <th>Buy</th>
                <th>Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for pos in positions%}
            <tr>
                <td>{{pos.stock}}</td>
                <td>{{pos.bought_at}}</td>
                <td>{{pos.num_shares}}</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}